@charset "UTF-8";
* {
    margin:0;
    padding:0;
    outline: none;
}
.spirit {
    position:relative;
}
.spirit::after {
	content: "";
	position: absolute;
    background: url(../img/indexImg/spirit.png) no-repeat;
    background-size: 5rem 5rem;
}
/*底部栏*/
#footer {
    z-index: 999;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: .98rem;
    border-top:1px solid #acacac;
    font:.2rem/1 '微软雅黑';
    background: #f7f7f7;
    text-align:center;
}
#footer p {
    float:left;
    box-sizing: border-box;
    width:33.333%;
    height:.87rem;
    margin-top:.11rem;
    padding-top:.6rem;
    position:relative;
}
#footer p::after {
    top:0;
    left:1rem;
}
#toIndex::after {
    width: .47rem;
    height: .54rem;
    background-position: 0 0;
}
#toTalk::after {
    width: .46rem;
    height: .49rem;
    background-position: -.58rem 0;
}
#toMe::after {
    width: .55rem;
    height: .48rem;
    background-position: -1.2rem 0;
}

/*首页*/
.indexTop {
    width: 7.5rem;
    height:7.6rem;
    background-size: cover;
}
.indexBottom {
    width: 100%;
    height: 3.09rem;
    padding-top:1.07rem;
    background: #f6f6f6;
    position: relative;
}
.topNub {
    font: .3rem/.66rem '微软雅黑';
    color: #ffb300;
    position: absolute;
    top:.45rem;
    left:.51rem;
}
.indexBottom p {
    font: .44rem/.66rem '微软雅黑';
    color:#666;
    margin-left: .51rem;
    width:6.03rem;
}
.indexBottom p:nth-of-type(2) {
    font: .33rem/.66rem '微软雅黑';
    color:#666;
    margin-left: .51rem;
    width:6.03rem;
}
.lightNub {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 2.27rem;
    height: .32rem;
}
.bigGood {
    margin-top:.2rem;
    width:7.5rem;
    height: 7.47rem;
}
#timeline {
    width: .8rem;
    height:.8rem;
    background:none;
    border:none;
    position:absolute;
    top:.44rem;
    right:.44rem;
    z-index:1;
}
.mask {
    position:fixed;
    left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:url(../img/indexImg/mask.png);
	background-size: cover;
	z-index:999999;
}
#closeMask {
    width: .8rem;
    height:.8rem;
    background:none;
    border:none;
    position:absolute;
    bottom:.2rem;
    left:3.35rem;
}
